/* ==========================================================================

  These styles are just for the demo.

  =========================================================================*/

// Global and reset

body{
  font-family: "franklin-gothic-urw", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.63em;
  background-color: white;
  color: #525151;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3{
  margin: 42px 0 12px;
}

h4{
  margin: 18px 0 6px;
}

a{
  color: #fc2b60;
}

.btn{
  color: white;
  padding: .6em .8em;
  border-radius: .2em;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}

.btn-lg{
  font-size: 1em;
}

.btn-primary{
  background-color: #fc2b60;
  border: 1px solid #fc2b60;
}

.btn-primary:hover{
  background-color: #ed1656;
  border: 1px solid #ed1656;
}

.btn-secondary{
  border: 1px solid #fc2b60;
  color: #fc2b60;
}

.btn-secondary:hover{
  border: 1px solid #ed1656;
  color: #ed1656;
}

code, pre{
  font-family: "apercumono", monospace;
  padding: 0px 3px;
  background-color: #f6f8fb;
  border-radius: 3px;
  border: 1px solid #c7d4e9;
  box-sizing: border-box;
  font-size: 14px;
}

pre{
  white-space: pre;
  padding: 9px 12px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.wrap.demo{
  margin-top: 18px;
  margin-bottom: 30px;
}

// Content

.title{
  border-bottom: 1px solid #b8c4df;
  position: relative;
  margin-top: 24px;
}

.title__heading1{
  margin: .5em 0 0;
}

.btn-share-wrapper{
  position: absolute;
  right: 0;
  bottom: 16px;
  @media screen and (max-width: 600px){
    display: block;
    position: relative;
    margin-top: 36px;
  }
}

.btn-share{
  display: inline-block;
  margin: 0;
  @media screen and (max-width: 600px){
    display: block;
    margin-bottom: 3px;
  }
}

.btn-share--twitter__footer{
  margin-top: 18px;
}

.download__about{
  text-align: center;
  margin: 20px auto;
  .btn{
    margin: 0 auto 12px;
  }
  .version{
    margin: 0;
    color: #8c9bc8;
    font-size: .85em;
  }
}

.download__about__footer{
  text-align: center;
  margin: 80px auto 130px;
  .btn{
    margin: 0 auto 12px;
  }
}

.block{
  min-height: 42px;
  background-color: rgba(#fc2b60, .18);
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: background-color .3s linear;
  &:hover{
    background-color: rgba(#fc2b60, .24);
    .col_class{
      top: 6px;
    }
    .col_class__1-of-12{
      top: -5px;
    }
  }
}



.col_class{
  font-family: "apercumono",sans-serif;
  width: 100%;
  text-align: center;
  color: #fc2b60;
  font-size: 11px;
  font-weight: 900;
  margin-top: 5px;
  position: absolute;
  top: 32px;
  transition: top .4s cubic-bezier(0.84734, -0.39, 0.30734, 1.61);
}

.getting_started__variable_list{
  list-style: none;
  padding: 0;
  li{
    margin: 6px 0;
  }
}

.getting_started__html_block{
  width: calc(200% + 20px);
}

.div-highlight{
  color: #fc2b60;
}

.class-highlight{
  color: #6e82be;
}

.comment-highlight{
  color: #99b9dd;
}

.footer{
  margin-top: 90px;
  .footer--cp{
    margin: 12px 0 6px;
    display: block;
    color: #808080;
  }
  .author{
    margin: 6px 0;
    display: block;
  }
  .footer--cp--oliver{
    margin: 42px 0 0;
    display: block;
    color: #808080;
    a{
      color: #f59ab5;
    }
  }
}

@media screen and (min-width: 769px){
  .col_class.lg{
    display: block;
  }
  .col_class.sm,
  .col_class.md{
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 769px){
  .col_class.md{
    display: block;
  }
  .col_class.sm,
  .col_class.lg{
    display: none;
  }
}

@media screen and (max-width: 480px){
  .col_class.sm{
    display: block;
  }
  .col_class.lg,
  .col_class.md{
    display: none;
  }
}
