/* ==========================================================================

  These styles are just for the demo.

  =========================================================================*/

// Global and reset

@font-face {
    font-family: 'apercumono';
    src: url('../fonts/apercu-mono/Apercu-Mono-webfont.eot');
    src: url('../fonts/apercu-mono/Apercu-Mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu-mono/Apercu-Mono-webfont.woff2') format('woff2'),
         url('../fonts/apercu-mono/Apercu-Mono-webfont.woff') format('woff'),
         url('../fonts/apercu-mono/Apercu-Mono-webfont.ttf') format('truetype'),
         url('../fonts/apercu-mono/Apercu-Mono-webfont.svg#apercumono') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: "Apercu",sans-serif;
  background-color: #edf0f8;
  color: #162673;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn{
  background-color: #fc2b60;
  color: white;
  padding: .6em .8em;
  border-radius: .16em;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}

.btn-lg{
  font-size: 1.3em;
}

code, pre{
  font-family: "apercumono", monospace;
  padding: 0px 3px;
  background-color: #dbe4f4;
  border-radius: 3px;
  border: 1px solid #a4b8da;
  box-sizing: border-box;
}

pre{
  white-space: pre-wrap;
  padding: 9px 12px;
}

// Content

.title{
  border-bottom: 1px solid #8c9bc8;
  position: relative;
  margin-top: 24px;
}

.title__heading1{
  margin: .5em 0 0;
}

.btn-share-wrapper{
  position: absolute;
  right: 0;
  bottom: 16px;
  @media screen and (max-width: 600px){
    display: block;
    position: relative;
    margin-top: 36px;
  }
}

.btn-share{
  display: inline-block;
  margin: 0;
  @media screen and (max-width: 600px){
    display: block;
    margin-bottom: 3px;
  }
}

.download__about{
  text-align: center;
  margin: 20px auto;
  .btn{
    margin: 0 auto 12px;
  }
  .version{
    margin: 0;
    color: #8c9bc8;
    font-size: .85em;
  }
}

.block{
  min-height: 42px;
  background-color: rgba(#fc2b60, .18);
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: background-color .3s linear;
  &:hover{
    background-color: rgba(#fc2b60, .24);
    .col_class{
      top: 6px;
    }
    .col_class__1-of-12{
      top: -5px;
    }
  }
}



.col_class{
  font-family: "apercumono",sans-serif;
  width: 100%;
  text-align: center;
  color: #fc2b60;
  font-size: 11px;
  font-weight: 900;
  margin-top: 5px;
  position: absolute;
  top: 32px;
  transition: top .4s cubic-bezier(0.84734, -0.39, 0.30734, 1.61);
}

.getting_started__variable_list{
  list-style: none;
  padding: 0;
  li{
    margin: 6px 0;
  }
}

.getting_started__html_block{
  width: calc(200% + 20px);
}

.div-highlight{
  color: #fc2b60;
}

.class-highlight{
  color: #6e82be;
}
