$wrap: 960px;
$gutter: 30px;
$vertical-spacing: 20px;
$md-breakpoint: 768px;
$sm-breakpoint: 480px;

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

body{
  margin: 0;
}

.wrap{
  padding: 0 ($gutter / 2);
  margin: 0 auto;
  max-width: $wrap;
}

.row{
  margin-left:  ($gutter / -2);
  margin-right: ($gutter / -2);
  @include clearfix;
}

*[class*='col__'] {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
  box-sizing: border-box;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  margin-bottom: $vertical-spacing;
}

@mixin make-grid-column-all-devices {
  @for $i from 0 through 12 {
    .col__#{$i}-12{
      width: percentage($i/12);
    }
    .col__#{$i}-12__center{
      width: percentage($i/12);
      margin-left: percentage((1-($i/12))/2);
      display: block;
    }
    .offset__#{$i}-12{
      margin-left: percentage($i/12);
    }
  }
}

@media (min-width: $md-breakpoint + 1px){
  @include make-grid-column-all-devices;
  @for $i from 0 through 12 {
    .col__lg-#{$i}-12{
      width: percentage($i/12);
      margin-left: 0;
    }
    .col__lg-#{$i}-12__center{
      width: percentage($i/12);
      margin-left: percentage((1-($i/12))/2);
      display: block;
    }
    .offset__lg-#{$i}-12{
      margin-left: percentage($i/12) !important;
    }
  }
  .hidden__lg{
    display: none;
  }

}

@media (max-width: $md-breakpoint) and (min-width: $sm-breakpoint + 1px){
  @include make-grid-column-all-devices;
  @for $i from 0 through 12 {
    .col__md-#{$i}-12{
      width: percentage($i/12);
      margin-left: 0;
    }
    .col__md-#{$i}-12__center{
      width: percentage($i/12);
      margin-left: percentage((1-($i/12))/2);
      display: block;
    }
    .offset__md-#{$i}-12{
      margin-left: percentage($i/12) !important;
    }
  }
  .hidden__md{
    display: none;
  }

}

@media (max-width: $sm-breakpoint){
  @include make-grid-column-all-devices;
  @for $i from 0 through 12 {
    .col__sm-#{$i}-12{
      width: percentage($i/12);
      margin-left: 0;
    }
    .col__sm-#{$i}-12__center{
      width: percentage($i/12);
      margin-left: percentage((1-($i/12))/2);
      display: block;
    }
    .offset__sm-#{$i}-12{
      margin-left: percentage($i/12) !important;
    }
  }
  .hidden__sm{
    display: none;
  }

}
