$gutter: 20px;
$md-breakpoint: 768px;
$sm-breakpoint: 480px;

body{
  margin: 0;
}

.wrap{
  padding: 0 ($gutter / 2);
  margin: 0 auto;
  max-width: 960px;
}

.row{
  width: calc(100% + #{$gutter});
  -webkit-width: calc(100% + #{$gutter});
  -moz-width: calc(100% + #{$gutter});
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: $gutter;
  margin-left: ($gutter / -2);
  margin-right: ($gutter / -2);
  display: table;
}

*[class*='col__'] {
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
  display: table-cell;
  box-sizing: border-box;
  float: left;
  white-space: normal;
}

@for $i from 1 through 12 {
  *[class*='#{$i}-12']{
    width: percentage($i/12);
  }
  *[class*='push-#{$i}-12']{
    margin-left: percentage($i/12);
  }
  *[class*='pull-#{$i}-12']{
    margin-left: -(percentage($i/12));
  }
}

@media (min-width: $md-breakpoint + 1px){
  @for $i from 1 through 12 {
    *[class*='sm-#{$i}-12']{
      width: percentage($i/12);
    }
    *[class*='sm-push-#{$i}-12']{
      margin-left: percentage($i/12);
    }
    *[class*='sm-pull-#{$i}-12']{
      margin-left: -(percentage($i/12));
    }
  }
  @for $i from 1 through 12 {
    *[class*='md-#{$i}-12']{
      width: percentage($i/12);
    }
    *[class*='md-push-#{$i}-12']{
      margin-left: percentage($i/12);
    }
    *[class*='md-pull-#{$i}-12']{
      margin-left: -(percentage($i/12));
    }
  }
}

@media (max-width: $md-breakpoint) and (min-width: $sm-breakpoint + 1px){
  @for $i from 1 through 12 {
    *[class*='md-#{$i}-12']{
      width: percentage($i/12);
    }
    *[class*='md-push-#{$i}-12']{
      margin-left: percentage($i/12);
    }
    *[class*='md-pull-#{$i}-12']{
      margin-left: -(percentage($i/12));
    }
  }
}

@media (max-width: $sm-breakpoint){
  @for $i from 1 through 12 {
    *[class*='sm-#{$i}-12']{
      width: percentage($i/12);
    }
    *[class*='sm-push-#{$i}-12']{
      margin-left: percentage($i/12);
    }
    *[class*='sm-pull-#{$i}-12']{
      margin-left: -(percentage($i/12));
    }
  }
}
